// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form-container {
  width: 100%;
  font-family: sans-serif;
}

.comments-form {
  height: 60px;
  width: 100%;
  border: 1px solid #dcdee2;
}

.comments-box {
  width: 100%;
  resize:none;
  padding-left: 10px;
}

.comments-container {
  overflow: scroll;
  max-height: 212px;
}

.comment-body {
  margin: 5px;
  display: flex;
}

.comment-author {
  font-weight: 600;
  margin-right: 5px;
}
