// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-form-container {
  width: 100%;
  font-family: sans-serif;
}

.comments-form {
  height: 3em;
  width: 100%;
  border: 1px solid #dcdee2;
  margin-top: 14px;
}

.comments-box {
  width: 100%;
  height: 100%;
  resize: none;
  text-indent: 10px;
}

input::-webkit-input-placeholder {
  padding: 0;
}

textarea::-webkit-input-placeholder {
  padding: 0;
}

.comments-container {
  overflow-y: auto;
  max-height: 175px;
  height: 175px;
  border-bottom: 1px solid #dcdee2;
  margin-bottom: 10px;
}

.comment-body {
  margin: 5px;
  display: flex;
}

.comment-author {
  font-weight: 600;
  margin-right: 5px;
}

.vsc-initialized {
  background: #fafafa;
}

.comment-delete {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
