// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.feed {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.feed-likes {
  border: none;
}

.feed-username{
  margin: 0 5px 0 0;
}

.feed-user-caption {
  display: flex;
  margin: 5px 0 5px 5px;
  justify-content: flex-start;
}

.extra-info {
  margin: 5px 10px;
}

.feed-post-container {
  width: 600px;
  border-bottom: 2px solid #dcdee2;
  border-right: 2px solid #dcdee2;
  border-left: 2px solid #dcdee2;
  background: #FAFAFA;
  margin-top: 70px;
  margin-right: 188px;
}

.picture-feed-container{
  margin-bottom: 50px;
  background: white;
  border-bottom: 2px solid #dcdee2;
  border-top: 2px solid #dcdee2;
  width: 600px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;
  }

.comment-feed{
  overflow-y: scroll;
  max-height: 100px;
  margin: 10px 0;
}

.feed-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.following-feed {
  position: fixed;
  top: 94px;
  right: 184px;
}

.current-user-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #dcdee2;
  margin-bottom: 10px;
}

.feed-logout {
  width: 115px;
  height: 26px;
  border: 1px solid #dcdee2;
  text-align: center;
  margin-left: 20px;
}

.following-icons {
  max-height: 400px;
  overflow-y: scroll;
}

.link-userpage {
  display: flex;
  align-items: center;

}

@media only screen and (max-width: 1290px) {
  .following-feed{
    display: none;
  }

  .feed-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .feed-post-container{
    margin-left: 200px;
  }
}

@media only screen and (max-width: 620px) {
  .feed-post-container{
    margin-left: 400px;
  }
}
