// Place all the styles related to the api::comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
  background: #fafafa;
}

.feed-likes {
  border: none;
}

.feed-username {
  margin: 0 5px 0 0;
}

.feed-user-caption {
  display: flex;
  margin: 5px 0 15px 5px;
  justify-content: flex-start;
}

.extra-info {
  margin: 5px 10px;
}

.feed-post-container {
  width: 100%;
  border-bottom: 2px solid #dcdee2;
  background: #fafafa;
  margin-top: 70px;
  // margin-right: 188px;
  display: flex;
  justify-content: center;
}

.picture-feed-container {
  margin-bottom: 50px;
  background: white;
  border: 2px solid #dcdee2;
  width: 600px;
}

// ::-webkit-scrollbar {
//   width: 0px; /* remove scrollbar space */
//   background: transparent;
// }

.comment-feed {
  // overflow-y: auto;
  max-height: 100px;
  margin: 10px 0;
  height: auto;
}

.feed-ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.following-feed {
  border-bottom: 1px solid #dcdee2;
  margin-left: 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 5em;
  align-self: flex-start;
  width: 293px;
}

.current-user-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.feed-logout {
  width: 115px;
  height: 26px;
  border: 1px solid #dcdee2;
  text-align: center;
  margin-left: 20px;
}

.following-icons,
.follow-menu {
  max-height: 400px;
  overflow-y: scroll;
}

.following-icons {
  width: 100%;
  border: 2px solid #dcdee2;
  background: white;
}

.follow-menu {
  justify-content: center;
  flex-direction: column;
  list-style: none;
  overflow: auto;
}

.follow-title {
  text-align: center;
  border-bottom: 0.5px solid #dcdee2;
  min-height: 40px;
  font-weight: bold;
  font-size: 1.2em;
  font-family: sans-serif;
}

.follow-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hover:hover {
  cursor: pointer;
}

.link-userpage {
  display: flex;
  align-items: center;
}

.spinner {
  display: flex;
  justify-content: center;
  margin: 10vh 0;
}

@media only screen and (max-width: 1000px) {
  .following-feed {
    display: none;
  }
}

@media only screen and (max-width: 630px) {
  .picture-feed-container {
    width: 400px;
  }
}
