// Place all the styles related to the api::follows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.follower-button {
  width: 90px;
  height: 27px;
  background: #1991F4;
  color: white;
  border-radius: 4px;
  text-align: center;
}

.following-button {
  width: 115px;
  height: 26px;
  border: 1px solid #dcdee2;
  text-align: center;
}

.feed-user-pic {
  display: flex;
}



.picture-feed {
  height: 600px;
  width: 600px;
}
