.hover-text{
  transition: .7s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 18%;
}

.post-pics:hover {
  background: #3f3d3d
}

.post-pics:hover .posted-picture {
  opacity: 0.3;
}


.post-pics:hover .hover-text {
  opacity: 1;
}

.hover-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.hover-span {
  display: flex;
  margin: 0 10px;
}

.hover-icon {
  margin: 0 10px;
}

.posted-picture {
  opacity: 1;
  transition: .7s ease;
  backface-visibility: hidden;
}

.post-pics {
  position: relative;
}


.picture-feed:hover, {

}
