// Place all the styles related to the api::likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-icon {
  font-size: 30px;
  margin: 0 5px;
}

.like-icon:hover, .like-icon2:hover{
  cursor: pointer;
}


.like-icon2{
  height:30px;
  width:30px;
  margin: 0 5px;
}

.pic-like {
  width: 100%;
}

.icon-shows {
  display: flex;
}

.like-count {
  margin-left: 8px;
}
