// Place all the styles related to the api::likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.like-icon {
  font-size: 30px;
}

.like-icon2{
  height:30px;
  width:30px;
}

.pic-like {
  width: 100%;
  border-top: 1px solid #dcdee2;
}

.like-count{
  
}
