// Place all the styles related to the Api::Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  background: #FAFAFA
}

.upload-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal-add {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.photo-uploader {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center
}

.upload-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 240px;
  height: 40px;
  margin: 10px;
  background: #1991F4;
  color: white;
  border-radius: 8px;
}

.upload-button:hover{
  cursor: pointer;
}

.preview-pic {
  height: 270px;
  width: 270px;
  margin: 10px;
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dropzone-box {
  height: 47px;
  width: 257px;
  background: none;
}

.caption-box {
  border: 2px solid #dcdee2;
  height: 50px;
  width: 257px;
  padding-left: 10px;
  overflow: scroll;
  resize:none;
}

.close-modal {
  position: relative;
  text-align: center;
  border: 3px solid #dcdee2;
  width: 80px;
  height: 40px;
  border-radius: 4px;
}

.picture-show-container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.display-picture {
  height: 500px;
  width: 500px;
}

.pic-show-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.pic-show-userpic{
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 10px;
}

.pic-show-username {
  margin-top: 15px;
  margin-right: 5px;
}

.pic-show-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pic-show-button {
  height: 33px;
  width: 120px;
  background: #1991F4;
  color: white;
  border-radius: 8px;
  margin: 5px;
  text-align: center;
  border: 1px solid black;
}

.pic-show-edit {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.input-show-box {
  width: auto;
  height: auto;
  margin: 15px 5px;
  resize: none;
}

.hide-button {
  display: none;
}
