.search-list-container {
  z-index: 5;
  position: absolute;
  max-height: 200px;
  overflow: auto;
  top: 100%;
  width: 230px;
  background: white;
}

.search-list-item {
  border-bottom: 1px solid #dcdee2;
}

.pic-show-userpic2 {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin: 10px;
  z-index: 100;
  object-fit: cover;
}

.search-div {
  position: relative;
}
