// Place all the styles related to the api::sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div img h2 p form button input span ul li {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;

}

.login-picture{
  position: relative;
}

.login-picture1{
  
}

img {
  height: 20%;
  width: 20%;
}
