// Place all the styles related to the api::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #fafafa;
$border-color: #dcdee2;

.icon4-container,
.dropdown-logout,
.dropdown-list,
.nav-bar,
.nav-search,
.user,
.profile-box {
  display: flex;
  align-items: center;
}

.user-content2,
.user-content3,
.profile-footer,
.nav-bar,
.nav-icon,
.profile-box {
  display: flex;
  flex-direction: row;
}

.dropdown-list,
.profile-footer {
  justify-content: center;
}

.filler-nav {
  width: 100%;
  height: 75px;
  border-bottom: 1px solid $border-color;
  background: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav-bar {
  width: 100%;
  height: inherit;
  justify-content: space-evenly;
}

.nav-main {
  margin-right: 30px;
  min-width: 244px;
}

.line {
  margin: 0 10px;
  font-size: 40px;
  display: inline-block;
}

.nav-search {
  width: 199px;
  height: 24px;
  background: $background-color;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid $border-color;
}

.search-span {
  display: inline-flex;
  align-items: center;
}

input.nav-search[type="text"] {
  font-size: 18px;
  font-family: sans-serif;
  padding-left: 5px;
}

.nav-title {
  font-size: 30px;
  font-family: "Grand Hotel", cursive;
}

.icon {
  margin: 0 10px;
  font-size: 35px;
}

.icon2 {
  margin: 0 24px 0 0;
  font-size: 24px;
  color: gray;
}

.icon3 {
  width: 18px;
  font-size: 14px;
  height: 24px;
  background: $background-color;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-top: 1px solid $border-color;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.user {
  width: 100%;
  flex-direction: column;
  background: #fafafa;
  font-family: sans-serif;
}

.profile-box {
  width: 70%;
  height: 300px;
}

.user-pic {
  height: 152px;
  width: 152px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 0 80px 0 120px;
  object-fit: cover;
}

.user-content {
  display: flex;
  flex-direction: column;
}

.user-content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.user-info {
  margin-right: 30px;
  margin-bottom: 0;
  font-weight: 400;
}

.profile-username {
  font-size: 30px;
  margin: 0 25px 0 0;
  font-weight: 400;
}

.user-name {
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 0;
}

.edit-profile {
  margin: 5px 0 0 0;
  height: 27px;
  width: 124px;
  border: 1px solid $border-color;
  text-align: center;
  border-radius: 4px;
  padding-top: 0.5px;
}

.icon4 {
  margin-left: 10px;
  font-size: 24px;
}

.icon4:hover {
  cursor: pointer;
}

.dropdown-logout {
  list-style: none;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 13px solid $border-color;
  margin-left: 10px;
  margin-top: 5px;
}

.add-photo {
  margin-top: 15px;
  height: 27px;
  width: 124px;
  border: 1px solid $border-color;
  text-align: center;
  border-radius: 4px;
}
.users-pictures {
  display: flex;
  width: 70%;
}

.profile-footer {
  width: 70%;
  border-top: 1px solid $border-color;
  height: 51px;
}

.picture-container {
  margin-top: 20px;
  width: 70%;
  height: 250px;
  margin-bottom: 20px;
}

.picture-holder {
  display: grid;
  width: 100%;
  grid-gap: 2em;
  list-style: none;
  grid-template-columns: repeat(3, 290px);
  align-items: center;
  justify-content: center;
}

.post-pics {
  overflow: hidden;
  height: 290px;
  width: 100%;
  display: flex;
}

.posted-picture {
  width: 100%;
  object-fit: cover;
  flex-shrink: 0;
}

@media only screen and (max-width: 900px) {
  .picture-holder {
    grid-template-columns: repeat(3, 190px);
    grid-gap: 10px;
  }

  .post-pics {
    margin: 5px;
    height: 190px;
  }

  .posted-picture {
    height: 190px;
    width: 190px;
  }

  .hover-text {
    font-size: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .post-pics {
    margin: 3px;
    max-width: 95px;
    max-height: 95px;
  }

  .posted-picture {
    height: 95px;
    width: 95px;
  }

  .picture-holder {
    grid-template-columns: repeat(3, 95px);
    grid-gap: 0;
  }

  .hover-text {
    font-size: 8px;
    left: -5%;
  }
}

@media only screen and (max-width: 700px) {
  .search-span,
  .search-list-container,
  .search-list-item {
    display: none;
  }

  .user-pic {
    margin: 0 20px 0 0;
    height: 50px;
    width: 50px;
  }

  .nav-bar {
    justify-content: space-between;
  }

  .nav-main {
    margin-right: 15px;
  }
}
